# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
build/
pubspec.lock

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/

# Misc
*.iml
*.log
*.tmp
*.swp
*.lock

# Obfuscation
symbols/

# Firebase
.firebase/
